@import 'abstracts/variables';

/* Header section styles goes here **/
header{
    .current-place-wrapper{
        display: block;
        text-align: center;
        width: 100%;
        .current-place{
            margin-left: 5px;
        }
    }
    .bi-list{
        font-size: 30px;
        margin-right: 10px;
        background: $color-brand-secondary;
        padding: 0 7px;
        border-radius: 50%;
    }
}