<header class="container mt-4">
    <div class="row">
        <div class="col-3 v-center">
            <i class="bi bi-list"></i>
            <span class="current-place-wrapper">
                <i class="bi bi-geo-alt-fill"></i>
                <span class="current-place"> {{data?.name}}, {{data?.sys?.country}}</span>
            </span>
        </div>
        <div class="col-5">
            <app-places-search (location)="getLocation($event)"></app-places-search>
        </div>
        <div class="col-4">

        </div>
    </div>
</header>
