@import 'abstracts/variables';

.card{
    background-color: $color-brand-secondary;
    border-radius: 1.5rem;
    .card-title{
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .card-text{
        font-size: 3rem;
    }
    .card-description{
        img{
            margin-left: -5rem;
        }
    }
    .border-bottom{
        border-color: $color-border-primary !important;
    }
    .more{
        color: $color-text-tertiary;
    }
    .img-wrapper{
        position: relative;
        .description{
            position: absolute;
            right: 110px;
            bottom: 10px;
        }
    }
}