<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            Current Weather 
            <!-- <span class="float-end">{{date | date:'h:mm a'}}</span> -->
        </h2>
        <div class="card-description clearfix">
            <div class="w-50 float-start">
                <p class="card-text float-start w-50">{{data?.main.temp | number: '1.0-0'}} &#8451;</p>
                <img src='https://openweathermap.org/img/wn/{{data?.weather[0]?.icon}}@4x.png' class="float-start w-50"/>
                <div class="w-100 float-start">{{data?.weather[0]?.description}}</div>
            </div>
            <div class="w-50 float-end more">
                <div class="border-bottom pb-2 pt-2 border-light">
                    <label>Real Feel:</label><span class="float-end"> {{data?.main.feels_like | number: '1.0-0'}} &#8451;</span>
                </div>
                <div class="border-bottom pb-2 pt-2 border-light">
                    <label>Humidity:</label><span class="float-end"> {{data?.main.humidity}}%</span>
                </div>
                <div class="border-bottom pb-2 pt-2 border-light">
                    <label>Wind:</label><span class="float-end"> {{data?.wind.speed}} km/h</span>
                </div>
            </div>
        </div>
    </div>
</div>
