@import './../../../../styles/abstracts/variables';
.card{
    background-color: $secondary;
    border-radius: 1.5rem;
    .card-title{
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .card-text{
        font-size: 3rem;
    }
    .card-description{
        img{
            margin-left: -5rem;
        }
    }
    .border-bottom{
        border-color: $light-gray !important;
    }
    .more{
        color: $dark-gray;
    }
}