$color-brand-primary:#101014;
$color-brand-secondary:#1b1a1d;
$color-brand-tertiary: #bbd8ec;

$color-text-primary:#ffffff;
$color-text-secondary:#101014;
$color-text-tertiary:#4d4d4d;

$color-border-primary:#1e1e1e;