@import 'abstracts/variables';

.card{
    background-color: $color-brand-secondary;
    border-radius: 1.5rem;
    &.active{
        background-color: $color-brand-tertiary;
        .card-title{
            color: $color-brand-primary;
            background: rgba(75, 84, 90, .25);
            text-align: left;
            &:after{
                display: none;
            }
        }
        .card-description{
            color: $color-brand-primary;
            padding: 0 1.5rem 1.5rem;
            .card-text{
                float: left;
                font-size: 2rem;
                margin-top: 1.5rem;
            }
            img{
                float: right;
                margin-left: 0;
            }
        }
    }
    .card-body{
        padding: 0;
    }
    .card-title{
        padding: 1rem 1.5rem;
        border-radius: 1.5rem 1.5rem 0 0;
        font-size: 1.1rem;
        font-weight: 700;
        text-align: center;
        position: relative;
        &:after {
            content: '';
            height: 3px;
            width: 80px;
            background: $color-border-primary;
            position: absolute;
            left: 0;
            top: 3.5rem;
            right: 0;
            margin: 0 auto;
        }
    }  
    .card-description{
        text-align: center;
        padding: 2.5rem 1rem;
        .card-text{
            font-weight: 700;
            font-size: 1.2rem;
            text-align: center;
        }
        img{
            display: inline-block;
            margin-left: -1.5rem;
        }
        .additional-data{
            font-size: 1rem;
            text-align: left;
            label{
                color: $color-brand-secondary;
                display: inline-block;
            }
            span{
                font-weight: 700;
                display: inline-block;
            }
        }
    }
}