@import '../../../../styles/abstracts/variables';
@import '../../../../styles/abstracts/mixins';

.place-wrapper{
    position: relative;
    .place-search{
        @include border-box($secondary,none,0,none,1.5rem);
        margin-left: 10px;
        width: 100%;
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        color: $primary;
    }
    .bi-search{
        position: absolute;
        top: 8px;
        left: 20px;
    }
}